.text-center {
  text-align: center;
}
.m-auto{
margin: auto;
}
.flex {
  display: flex;
}
.flex-center {
  align-items: center;
  flex-direction: column;
}
.green{
    background-color: rgb(69, 222, 69) !important;
}
.blue{
    background-color: rgb(0, 191, 255) !important;
}
.yellow{
  
    background-color: rgb(251, 255, 0) !important;
}

